<h1>Index</h1>

<%= ajax_upload_control do_nothing_path(@user), id: "custom75",
                                                class: "mystyle",
                                                on_upload_callback: "file_uploaded",
                                                valid_content_type_pattern: "image" %>
